# Valid values are intel/amd
system_type="intel"

# Hypervisor config
# Make sure `ssh PROXMOX_USERNAME@<PROXMOX_IP> -i <SSH_KEY>` works
PROXMOX_API_ENDPOINT = "https://192.168.0.103:8006/api2/json"
PROXMOX_USERNAME     = "root"
PROXMOX_PASSWORD     = "password"
PROXMOX_IP           = "192.168.0.100"
DEFAULT_BRIDGE       = "vmbr0"
TARGET_NODE          = "pve"
SSH_KEY              = "/home/user/.ssh/id_rsa"

# Cluster config
cluster_name = "talos-cluster-1"
MASTER_COUNT = 1
WORKER_COUNT = 1
autostart    = true
master_config = {
  memory  = "2048"
  vcpus   = 2
  sockets = 1
}
worker_config = {
  memory  = "2048"
  vcpus   = 2
  sockets = 1
}

# Leave this empty if you are not sure/have a single NIC
# Change this to virbr0 if you're running proxmox inside a KVM VM
# You may need to use sudo for terrafrom apply due to this
INTERFACE_TO_SCAN=""