global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

	# Default SSL material locations
	ca-base /etc/ssl/certs
	crt-base /etc/ssl/private

	# See: https://ssl-config.mozilla.org/#server=haproxy&server-version=2.0.3&config=intermediate
        ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
        ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
        ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults 
    timeout connect 5s
    timeout client 1m
    timeout server 1m

frontend kubeAPI
    bind :6443
    mode tcp
    default_backend kubeAPI_backend
frontend talosctl
    bind :50000
    mode tcp
    default_backend talosctl_backend
frontend controller
    bind :50001
    mode tcp
    default_backend controller_backend

backend kubeAPI_backend
    mode tcp
    %{ for node_host, node_hostname in node_map_masters ~}
    server ${node_hostname} ${node_host}:6443 check check-ssl verify none
    %{endfor}
backend talosctl_backend
    mode tcp
    %{ for node_host, node_hostname in node_map_masters ~}
    server ${node_hostname} ${node_host}:50000 check check-ssl verify none
    %{endfor}
backend controller_backend
    mode tcp
    %{ for node_host, node_hostname in node_map_masters ~}
    server ${node_hostname} ${node_host}:50001 check check-ssl verify none
    %{endfor}

listen stats
   bind *:9000
   mode http
   stats enable
   stats uri /